
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-image: url("bcg1.png");
  background-repeat: no-repeat;
  background-position: 75% 150px;
  background-size: auto 730px;
}

p {
  margin: 0;
}

input[type="text"] {
  height: 32px;
  width: 600px;
  background: #e7e7e7;
  font-family: oswald, sans-serif;
  font-weight: bold;
  font-style: 40px;
  border: none;
  border-radius: 35px 0px 0px 35px;
  padding-left: 5px;
  padding-bottom: 1.5px;
}

input[type="submit"] {
  height: 35px;
  width: 50px;
  background: #e7e7e7;
  font-family: oswald, sans-serif;
  font-weight: bold;
  font-style: 40px;
  border: none;
  border-radius: 0% 35% 35% 0%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #136F6E;
}

.logo {
  width: 138px;
  height: 110px;
  padding: 12px 0px 15px 40px;
}

.input {
  padding-right: 350px;
  text-align: center;
  margin: 2em;
}

.wether {
  padding: 0;
	margin: 0;
}


.wether__inner {
  /*max-width: 900px;*/
  margin: 0 auto;
  padding: 1em;
}

.bcg {
  width: auto;
  height: 735px;
}


.current {
  font-family: Anton;
  text-align: center;
  margin-bottom: 2em;
  width: 100%;

  display: flex;
  justify-content: space-between;
  height: 270px;
  align-items: center;
  background-color: #136F6E;
  border-radius: 40px 40px;
}

.current__city {
  font-size: 3em;
  color: #5a5a5a;
}

.current__icon {
  width: 80px;
  height: 80px;
}

.current__date {
  font-style: 3em;
  color: #5a5a5a;
}

.current__temp {
  color: #5a5a5a;
  font-size: 4em;
  padding-bottom: 10px;
  /*border-bottom: 1px solid #000;*/
}


.forecast {
  max-width: 900px;
  font-family: oswald, sans-serif;
  display: flex;
  justify-content: space-between;
  color: #5a5a5a;
  text-align: center;
  /*margin-bottom: 2em;*/
}

.forecast__icon {
  width: 80px;
  height: 80px;
}

.details {
  font-family: Oswald, sans-serif;
  color: #5a5a5a;
  margin-left: 250px;
}

.details__row {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.details__item {
  flex: 1;
  padding-top: 15px;
}

.details__value {
  font-style: 1.5em;
  padding-top: 7px;
}

.next__days {
  max-width: 900px;
  font-family: oswald, sans-serif;
  display: flex;
  justify-content: space-between;
  color: #5a5a5a;
  text-align: center;
  margin-left: -80px;
  margin-top: 2em;
}

.next__icon {
  width: 80px;
  align-items: center;
  height: 80px;
  margin-left: 20px;

}

.next__temp {
  display: flex;
  justify-content: space-between;
  font-family: Oswald, sans-serif;
}

.next__mintemp {
  padding-right: 2em;
}


.week__title {
  text-align: center;
  font-family: Anton;
  color: #5a5a5a;
  padding-bottom: 1em;
  /*border-bottom: 1px solid #000;*/
}




.icon__01d,
.icon__01n,
.icon__02d,
.icon__02n,
.icon__03d,
.icon__03n,
.icon__04d,
.icon__04n,
.icon__09d,
.icon__09n,
.icon__10d,
.icon__10n,
.icon__11n,
.icon__11n,
.icon__13d,
.icon__13n,
.icon__50d,
.icon__50n {
  background-size: 80px;
  background-repeat: no-repeat;
}

.icon__01d,
.icon__01n {
  background-image: url("../images/01d.png");
}

.icon__02d,
.icon__02n {
  background-image: url("../images/02d.png");
}

.icon__03d,
.icon__03n {
  background-image: url("../images/03d.png");
}

.icon__04d,
.icon__04n {
  background-image: url("../images/04d.png");
}

.icon__09d,
.icon__09n {
  background-image: url("../images/09d.png");
}

.icon__10d,
.icon__10n {
  background-image: url("../images/10d.png");
}

.icon__11n,
.icon__11n {
  background-image: url("../images/11d.png");
}

.icon__13d,
.icon__13n {
  background-image: url("../images/13d.png");
}

.icon__50d,
.icon__50n {
  background-image: url("../images/50d.png");
}